{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>id test</title>
    </head>
    
    <body> 
        <form method="post" style="margin-top: 25px;">
            {% csrf_token %}
            <input type="text" name = "value" style="height: 30px;" placeholder="Enter a value" required="required">
            <button type="submit" style="height: 35px;">Submit</button>            
        </form>  

        <div>
            {% if not value %}
                <p>No data is available, please submit one</p>
            {% else %}
                {% for v in value %}
                    <p>    Value: {{v.name}}</p>
                    <p>       id: {{v.my_id}}</p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name = "delete" value="{{v.my_id}}" hidden readonly>
                        <button type="submit">Delete</button>            
                    </form>
                    <hr>
                {% endfor %}

                {% for c in cache %}
                    <p>Cached id: {{c.latest_id}}</p>
                {% endfor %}
            {% endif %}
        </div>
  </body>
</html>